# Dashboard automatizado COVID

## Desafio:

* Construir um código de um <b>dashboard</b> com os dados de COVID, utilizando apenas o <b>Python</b> e disponibilizar em um arquivo acessível.<br>
<p><i>Fonte: covid.saude.gov.br</i></p>

## Passo a passo:

`Passo 1` - Importar os módulos e bibliotecas;

`Passo 2` - Carregar os dados;

`Passo 3` - Mapa

`Passo 4` - Layout

`Passo 5` - Funções de Interatividade

## 1.0 Bibliotecas

In [20]:
import pandas                    as pd
import numpy                     as np

import json
import dash

import dash_core_components      as dcc
import dash_html_components      as html
from dash.dependencies           import Input, Output
import dash_bootstrap_components as dbc
import plotly.express            as px
import plotly.graph_objects      as go

## 2.0 Dataset

In [21]:
# Carregar os dados

df = pd.read_csv('data/HIST_PAINEL_COVIDBR_2023_Parte1_31mai2023.csv', sep=';')

df.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-01,1,210147125.0,36331281,0,693853,0,35006153.0,631275.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-02,1,210147125.0,36362366,31085,693981,128,35081933.0,586452.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-03,1,210147125.0,36390423,28057,694192,211,35147500.0,548731.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-04,1,210147125.0,36423138,32715,694411,219,35196324.0,532403.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-05,1,210147125.0,36450812,27674,694569,158,35225196.0,531047.0,NaN

### 2.1 Criando um dataframe dos Estados

In [22]:
# Removendo linhas sem informação do Estado (UF) e
# Buscando apenas as linhas SEM informações do Município

df_states = df[(~df['estado'].isna()) & (df['codmun'].isna())]
df_states

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
151,Norte,RO,NaN,11,NaN,NaN,NaN,2023-01-01,1,1777225.0,471673,0,7399,0,NaN,NaN,NaN
152,Norte,RO,NaN,11,NaN,NaN,NaN,2023-01-02,1,1777225.0,472112,439,7400,1,NaN,NaN,NaN
153,Norte,RO,NaN,11,NaN,NaN,NaN,2023-01-03,1,1777225.0,472459,347,7401,1,NaN,NaN,NaN
154,Norte,RO,NaN,11,NaN,NaN,NaN,2023-01-04,1,1777225.0,473198,739,7404,3,NaN,NaN,NaN
155,Norte,RO,NaN,11,NaN,NaN,NaN,2023-01-05,1,1777225.0,473724,526,7406,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4223,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2023-05-27,21,3015268.0,908276,720,11860,1,NaN,NaN,NaN
4224,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2023-05-28,22,3015268.0,908276,0,11860,0,NaN,NaN,NaN
4225,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2023-05-29,22,3015268.0,908276,0,11860,0,NaN,NaN,NaN
4226,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2023-05-30,22,3015268.0,908276,0,11860,0,NaN,NaN,NaN
4227,Centro-Oeste,DF,NaN,53,NaN,NaN,NaN,2023-05-31,22,3015268.0,908276,0,11860,0,NaN,NaN,NaN

### 2.2 Criando um dataframe para o Brasil

In [23]:
df_brasil = df[df['regiao'] == 'Brasil']
df_brasil

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-01,1,210147125.0,36331281,0,693853,0,35006153.0,631275.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-02,1,210147125.0,36362366,31085,693981,128,35081933.0,586452.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-03,1,210147125.0,36390423,28057,694192,211,35147500.0,548731.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-04,1,210147125.0,36423138,32715,694411,219,35196324.0,532403.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-05,1,210147125.0,36450812,27674,694569,158,35225196.0,531047.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-05-27,21,210147125.0,37601257,22229,702907,243,36824460.0,73890.0,NaN
147,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-05-28,22,210147125.0,37601257,0,702907,0,36817136.0,81214.0,NaN
148,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-05-29,22,210147125.0,37601257,0,702907,0,36809805.0,88545.0,NaN
149,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-05-30,22,210147125.0,37601257,0,702907,0,36809805.0,88545.0,NaN
150,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-05-31,22,210147125.0,37601257,0,702907,0,36823510.0,74840.0,NaN

### 2.3 Salvando os dataframes

In [25]:
df_states.to_csv('data/df_states.csv') # salvando o df dos estados
df_brasil.to_csv('data/df_brasil.csv') # salvando o df do Brasil

## 3.0 Mapas