# Dashboard automatizado COVID

## Desafio:

* Construir um código de um <b>dashboard</b> com os dados de COVID, utilizando apenas o <b>Python</b> e disponibilizar em um arquivo acessível.<br>
<p><i>Fonte: covid.saude.gov.br</i></p>

## Passo a passo:

`Passo 1` - Importar os módulos e bibliotecas;

`Passo 2` - Carregar os dados;

`Passo 3` - Mapa

`Passo 4` - Layout

`Passo 5` - Funções de Interatividade

## 1.0 Bibliotecas

In [20]:
import pandas                    as pd
import numpy                     as np

import json
import dash

import dash_core_components      as dcc
import dash_html_components      as html
from dash.dependencies           import Input, Output
import dash_bootstrap_components as dbc
import plotly.express            as px
import plotly.graph_objects      as go

## 2.0 Dataset

In [21]:
# Carregar os dados

df = pd.read_csv('data/HIST_PAINEL_COVIDBR_2023_Parte1_31mai2023.csv', sep=';')

df.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-01,1,210147125.0,36331281,0,693853,0,35006153.0,631275.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-02,1,210147125.0,36362366,31085,693981,128,35081933.0,586452.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-03,1,210147125.0,36390423,28057,694192,211,35147500.0,548731.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-04,1,210147125.0,36423138,32715,694411,219,35196324.0,532403.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2023-01-05,1,210147125.0,36450812,27674,694569,158,35225196.0,531047.0,NaN